@page

@{
  ViewData["Title"] = "Home page";
}

<center class="my-5">
  <strong>“Thanks to Bookshop, there is no reason to buy books on Amazon anymore.” — Inside Hook</strong>
</center>

<div class="row justify-content-center">
  <div class="col-md-3">
    <img src="https://assets.website-files.com/6267f35934aa8b1795cf1a9f/62f5394f512f1534599827db_vend-p-800.png" class="w-100" alt="">
  </div>

  <div class="col-md-4">
    <p>
      <strong>Bookshop.org works to connect readers with independent booksellers all over the world. </strong>
      We believe local bookstores are essential community hubs that foster culture, curiosity, and a love of reading, and we're committed to helping them thrive. 
    </p>

    <p>
      <strong>Every purchase on the site financially supports independent bookstores.</strong>
      Our platform gives independent bookstores tools to compete online and financial support to help them maintain their presence in local communities.
    </p>
  </div>
</div>

<hr class="my-5">

<center class="mb-5">
  <h2>How It Works</h2>
  <h4>(and how your purchases help bookstores)</h4>
</center>


<div class="row my-5">
  <div class="col-md-3">
    <img class="w-100" src="https://assets.website-files.com/6267f35934aa8b1795cf1a9f/62f53a0ab5f151b01e1ec6af_about1-p-500.jpg" alt="">
    <h3>1. Search for a book</h3>
    <p>
      Search for a book by title, author, or ISBN. You can also browse by category or browse our featured books.
    </p>
  </div>

  <div class="col-md-3">
    <img class="w-100" src="https://assets.website-files.com/6267f35934aa8b1795cf1a9f/62f53a0ab5f15155621ec6b5_about2-p-500.jpg" alt="">
    <h3>2. Select a bookstore</h3>
    <p>
      Select a bookstore to purchase from. You can choose from a list of local bookstores or search for a bookstore by name.
    </p>
  </div>

  <div class="col-md-3">
    <img class="w-100" src="https://assets.website-files.com/6267f35934aa8b1795cf1a9f/62f53a0ab5f151fbbb1ec6b2_about3-p-500.jpg" alt="">
    <h3>3. Buy the book</h3>
    <p>
      Buy the book and it will be shipped directly from the bookstore to you. You can also choose to pick up the book at the bookstore.
    </p>
  </div>

  <div class="col-md-3">
    <img class="w-100" src="https://assets.website-files.com/6267f35934aa8b1795cf1a9f/62f53a0ab5f1511d391ec6ad_bouncing.gif" alt="">
    <h3>4. Bookstore gets paid</h3>
    <p>
      Bookstores receive 100% of the purchase price. Bookshop.org takes a small fee to cover our costs.
    </p>
  </div>
</div>
