@page

@{
  ViewData["Title"] = "Home page";
}


<center>
  <h1 class="mb-5">Contact us</h1>
</center>


<div class="row justify-content-center mt-5">
  <div class="col-md-8">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sollicitudin orci et risus mollis maximus. Fusce eu erat semper, consequat lacus eu, aliquet mauris. Maecenas elementum metus vitae urna molestie, ullamcorper auctor leo fringilla. </p>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-4 p-3" style="background-color: wheat;">
    <h5>Our Location</h5>

    <strong>Address:</strong>
    <ul style="list-style: none;">
      <li>Hauz Khas - Aurobindo Market</li>
      <li>Shop No.20, Aurobindo Palace Market, Near Church</li>
      <li>New Delhi-110016, Delhi IN</li>
    </ul>

    <span class="my-3"></span>

    <strong>Email:</strong>
    <ul style="list-style: none;">
      <li>read@midlandbookshop.com </li>
    </ul>

    <strong>Mobile:</strong>
    <ul style="list-style: none;">
      <li>+919818282497</li>
    </ul>

    <strong>Telephone:</strong>
    <ul style="list-style: none;">
      <li>+011 2686 7121</li>
    </ul>

    <strong>Whatsapp:</strong>
    <ul style="list-style: none;">
      <li>9818282497</li>
    </ul>
  </div>

  <div class="col-md-4">
    <iframe class="w-100 h-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7195.690848533613!2d85.12589245999018!3d25.610052218125784!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39ed5843bafc5d3b%3A0x22931818c0b39fda!2sMalhotra%20Books!5e0!3m2!1sen!2sin!4v1671762026686!5m2!1sen!2sin" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>

<div class="row justify-content-center mt-5">
  <div class="col-md-8">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sollicitudin orci et risus mollis maximus. Fusce eu erat semper, consequat lacus eu, aliquet mauris. Maecenas elementum metus vitae urna molestie, ullamcorper auctor leo fringilla. Morbi nec efficitur lorem. Nulla gravida libero non iaculis ultrices. Proin tempus, dolor at fringilla ultrices, eros nisl venenatis urna, ac vestibulum massa orci vulputate lectus. Morbi vehicula risus risus, quis accumsan ex tincidunt sed. Mauris efficitur eu nulla sed lacinia. Proin id tortor velit. Ut feugiat ante non erat consectetur tristique. Integer pharetra mollis nulla, sit amet tempor velit ullamcorper vel. Aliquam vitae mi nec quam lobortis eleifend. </p>
  </div>
</div>
