@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2>Website Visitors</h2>
<p>Like most website operators, Bookstore.org collects non-personally-identifying information of the sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor request. Bookstore.org’s purpose in collecting non-personally identifying information is to better understand how Bookstore.org’s visitors use its website. From time to time, Bookstore.org may release non-personally-identifying information in the aggregate, e.g., by publishing a report on trends in the usage of its website.</p>
<p>Bookstore.org also collects potentially personally-identifying information like Internet Protocol (IP) addresses. Bookstore.org does not use IP addresses to identify its visitors, however, and does not disclose such information, other than under the same circumstances that it uses and discloses personally-identifying information, as described below.</p>

<h2>Gathering of Personally-Identifying Information</h2>

<p>Certain visitors to Bookstore.org choose to interact with Bookstore.org in ways that require Bookstore.org to gather personally-identifying information. The amount and type of information that Bookstore.org gathers depends on the nature of the interaction. For example, we ask visitors who use our forums to provide a username and email address.</p>
<p>In each case, Bookstore.org collects such information only insofar as is necessary or appropriate to fulfill the purpose of the visitor’s interaction with Bookstore.org. Bookstore.org does not disclose personally-identifying information other than as described below. And visitors can always refuse to supply personally-identifying information, with the caveat that it may prevent them from engaging in certain website-related activities, like purchasing a WordCamp ticket.</p>
<p>All of the information that is collected on Bookstore.org will be handled in accordance with GDPR legislation.</p>   
